html {
	font-size: large;
	font-family: Trebuchet MS, sans-serif;
	line-height: 1.6;

}

body {
	background-image: url("Pictures/world.gif");
	
}

ul {

margin: auto;
}

article {
	outline-style: double;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	margin: auto;
	line-height: 1.6;
	width: fit-content;
}

footer {
	text-align: center;
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}