html {
  font-size: large;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}

body {
}

ul {
  margin: auto;
}

.container {
  margin: auto;
  line-height: 1.6;
  width: fit-content;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
