html {
  font-size: large;
  font-family:
    Trebuchet MS,
    sans-serif;
  line-height: 1.6;
}

body {
  color: black;
}

h1 {
  font-weight: bold;
  text-align: center;
}

header {
  width: fit-content;
  text-align: center;
  margin: auto;
}

img {
  margin: 10px;
  width: 25%;
  height: auto;
}

.description {
  margin: auto;
  width: 90%;
  text-align: center;
}

div {
  text-align: center;
  margin: auto;
}

.container {
  margin: auto;
  width: 90%;
}

nav {
  text-align: center;
  width: fit-content;
  margin: auto;
}

.guestbook {
  width: fit-content;
  margin: auto;
}

figure {
  display: inline-block;
  margin: auto;
}

article {
  margin: auto;
  width: 90%;
}

h2 {
  text-align: center;
}

img {
  max-width: 75%;
  max-height: 75%;
  margin: auto;
}

footer {
  text-align: center;
}

footer p {
  width: fit-content;
  margin: auto;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
