html {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
 line-height: 1.6;

}

body {
background-image: url("pictures/red027.jpg");
color: black;
  
}


header {
	outline-style: double;
	outline-width: thick;
	outline-color: white;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("pictures/paper.gif");

}

nav {
	outline-style: double;
	outline-width: thick;
	outline-color: white;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("pictures/paper.gif");
}

article {
	outline-style: double;
	outline-width: thick;
	outline-color: white;
	margin: auto;
	background-color: white;
  background-image: url("pictures/paper.gif");
}

article p {
	text-align: center;
}

footer {
	text-align: center;
}

footer p {
	outline: thick black groove;
	width: fit-content;
	margin:	auto;
	background-color: black;
}

footer img {
	margin: 20px;
}