html {
  font-family:
    Trebuchet MS,
    sans-serif;
  line-height: 1.6;
}

body {
  color: black;
}

img {
  width: 50%
}

ul }
  list-style-type: none;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
