html {
  font-size: large;
  font-family: Helvetica, sans-serif;
 line-height: 1.6;

}

body {
background-image: url("Pictures/natfl108.gif");
color: black;
  
}


header {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

nav {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

article {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	background-image: url("Pictures/paper.gif");
	margin: auto;
	line-height: 1.6;
	width: 90%;
}

.guestbook {
	outline: thick DodgerBlue groove;
	width: fit-content;
	margin:	auto;
	background-color: DodgerBlue;
}

.socials {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	margin: auto;
	background-color: white;
	width: 90%;
	background-image: url("Pictures/paper.gif");
}


footer {
	text-align: center;
	
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}