html {
  font-family:
    Trebuchet MS,
    sans-serif;
  line-height: 1.6;
}

body {
  background-image: url("Pictures/pattern234.gif")
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
