html {
  font-size: large;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;

}

body {
background-image: url("Pictures/ss077.jpg");
color: black;

}


header {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

h2 {
	text-align: center;
	outline-style: groove;
	outline-width: thick;
	outline-color: white;
	margin: auto;
	width: 90%;
	background-color: white;
	background-image: url("Pictures/paper.gif");
}

nav {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("paper.gif");
}

.description {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	margin: auto;
	width: 90%;
	background-color: white;
	background-image: url("Pictures/paper.gif");
	text-align: center;
}

div {
	text-align: center;
	margin: auto;
	
}

.guestbook {
	outline: thick DodgerBlue groove;
	width: fit-content;
	margin:	auto;
	background-color: DodgerBlue;
}

.container {
	text-align: left;
	outline-style: groove;
	outline-width: thick;
	outline-color: white;
	margin: auto;
	width: 90%;
	background-color: white;
	background-image: url("Pictures/paper.gif");
}
img {
	
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	margin: 10px;
	width: 25%;
	height: auto;
}

ul {
	list-style-type: none;
}

footer {
	text-align: center;
	
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}