html {
  font-size: large;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}

body {
background-image: url("Pictures/qcu50119.jpg");
color: black;
  
}

h1 {
	font-weight: bold;
	text-align: center;
}

header {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

nav {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

.container {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	margin: auto;
	width: 90%;
	background-color: white;
	background-image: url("Pictures/paper.gif");
	text-align: left;
}

.video {
	text-align: center;

}	

.guestbook {
	outline: thick DodgerBlue groove;
	width: fit-content;
	margin:	auto;
	background-color: DodgerBlue;
}

video {
	max-width: 100%;
	max-height: 100%;
}

footer {
	text-align: center;
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}