html {
	font-size: large;
	font-family: Helvetica, sans-serif;
	line-height: 1.6;

}

body {
background-image: url("Pictures/misc246.jpg");
color: black;
  
}


header {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

nav {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

.container {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	background-image: url("Pictures/paper.gif");
	margin: auto;
	width: 90%;
	line-height: 1.6;
	text-align: center;
	overflow: hidden;
}
pre {
	background-image: url("Pictures/paper.gif");
	font-family: Garamond, serif;
	font-size: large;
	line-height: 1.6;
	white-space: pre-wrap;
}
.guestbook {
	outline: thick DodgerBlue groove;
	width: fit-content;
	margin:	auto;
	background-color: DodgerBlue;
}

section {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	margin: auto;
	background-color: white;
	float: center;
	background-image: url("Pictures/paper.gif");
}


footer {
	text-align: center;
	
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}