html {
font-size: large;
font-family: Helvetica, sans-serif;
line-height: 1.6;
}

body {
background-image: url("Pictures/rotatingcamera.gif");
color: black;
margin: auto;
}

header {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	width: 90%;;
	text-align: center;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

nav {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

h2 {
	text-align: center;
}

article {
	outline-style: groove;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	background-image: url("Pictures/paper.gif");
	margin: auto;
	line-height: 1.6;
	width: 90%;
	overflow: scroll;
}

.guestbook {
	outline: thick DodgerBlue groove;
	width: fit-content;
	margin:	auto;
	background-color: DodgerBlue;
}

footer {
	text-align: center;
	margin: 20px;
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}