html {
  font-size: large;
  font-family: Trebuchet MS, sans-serif;
  line-height: 1.6;

}

body {
background-image: url("Pictures/SC042.jpg");
color: black;

}


header {
	outline-style: double;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("Pictures/paper.gif");
}

h2 {
	text-align: center;
	outline-style: double;
	outline-width: thick;
	outline-color: white;
	margin: auto;
	width: fit-content;
	background-color: white;
	background-image: url("Pictures/paper.gif");
}

nav {
	outline-style: double;
	outline-width: thick;
	outline-color: black;
	background-color: white;
	text-align: center;
	width: fit-content;
	margin:	auto;
	background-image: url("paper.gif");
}

div {
	outline-style: double;
	outline-width: thick;
	outline-color: black;
	margin: auto;
	width: fit-content;
	background-color: white;
	background-image: url("Pictures/paper.gif");
	text-align: center;
}

article {
	text-align: center;
	margin: auto;
	
}

article p {
	text-align: left;
	outline-style: double;
	outline-width: thick;
	outline-color: white;
	margin: auto;
	width: fit-content;
	background-color: white;
	background-image: url("Pictures/paper.gif");
}
img {
	
	outline-style: double;
	outline-width: thick;
	outline-color: black;
	margin: 10px;
	max-width: 320px;
	height: auto;
}
ul {
	list-style-type: none;
}

footer {
	text-align: center;
	
}

footer p {
	outline: thick yellow groove;
	width: fit-content;
	margin:	auto;
	background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}